.app-main-layout {
  min-height: 100vh;
}

.header-title {
  color: #ffffff;
  text-align: right;
}

.app-menu {
  height: 100%;
  border-right: 0;
}

.app-content {
  margin: 24px 16px 0;
}

.app-footer {
  text-align: center;
}